</style>
<script type="text/javascript">
<!--
var mega2dom = {
    toggleappear: function() {
       var divs = document.getElementsByTagName('div');
       for (var i=0; i < divs.length; i++) {
            el = divs[i];
            if (el.className == 'tocindent') {
                if (el.style.display == 'block') {
                    el.style.display='none';
                } else if (el.style.display == 'none') {
                    el.style.display='block';
                } else if (el.style.display == '') {
                    el.style.display='block';
                }
            }
        }
    }
    ,
    addEvByClass: function(doc, tag, cls, ev, fn) {
       var divs = doc.getElementsByTagName(tag);
       for (var i=0; i < divs.length; i++) {
            el = divs[i];
            if (el.className == cls) {
                if (el[ev]) {
// nice if this worked ...
//                  el[ev] = function () { el[ev](); fn() ;}
// this will
                    el[ev] = this.fnCat(el[ev], fn);
                } else {
                    el[ev] = fn;
                }
            }
       }
    }
    ,
    fnCat: function(ol, nw) {
        return function() {
            ol();
            nw();
        }
    }
    ,
    winload: function(fn) {
        if (window.onload) {
            window.onload = this.fnCat(window.onload, fn) ;
        } else {
            window.onload = fn;
        }
    }
}
mega2dom.winload(function() {mega2dom.addEvByClass(document, 'div', 'tocheader', 'onclick', mega2dom.toggleappear);});
mega2dom.winload(function() {mega2dom.addEvByClass(document, 'div', 'tocindent', 'onclick', mega2dom.toggleappear);});
//-->
</script>
<style type="text/css">
body {
     text-align:center;
}
	
#globalWrapper {
    width:800px;
    margin:0px auto;
    text-align:left;
    background-color:#D8D8D8;
}

span.unknown {
    display: None;
}

blockquote.Quote table {
    background: PaleGoldenRod;
    border:1px solid black;
}

blockquote.Quote td,th {
    border:1px solid black;
}

blockquote.Quotation table {
    background: Lavender;
    border:1px solid black;
}

blockquote.Quotation td,th {
    border:1px solid black;
}

table {
/*    background: green;*/
}

blockquote.Quotation pre.listing {
    background: Thistle;
}

blockquote.Quote pre.listing {
    background: PaleGreen;
}

pre.listing {
    background: PaleTurquoise;
}

div.tocheader:hover {
    background: yellow;
}

div.tocheader:hover:after {
    content: "  (Click to show/hide)";
    onclick: "toggleappear()";
}

div.tocindent:hover {
    background: yellow;
    display: block
}

div.tocindent {
    display: none
}
